#project {
  padding: 2em 5%;
  background-color: darken($color: $neutral, $amount: 3%);
  .project-title {
    margin: 2em auto 1em;
    text-align: center;
    font-size: 20px;
    color: $secondary;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

@media only screen and (max-width: 700px) {
  #project {
    padding: 2em 5%;
    .project {
      display: grid;
      grid-template-columns: 100%;
    }
  }
}
