#project {
  padding: 2em 5%;
  background-color: darken($color: $neutral, $amount: 3%);
  .title {
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
    color: $secondary;
    .underline {
      height: 0.25rem;
      width: 5rem;
      background: $secondary;
      margin: 0.3em auto;
      border-radius: 5px;
    }
  }

  .project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  #project {
    padding: 2em 5%;
    .project {
      display: grid;
      grid-template-columns: 100%;
    }
  }
}
