.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;

  .welcome-img {
    .img-container {
      width: 200px;
      height: 200px;
      background: $neutral;

      img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 7px 10px $secondary;
        border: 1px solid $secondary;
      }
    }
  }
  .welcome-msg {
    width: 600px;
    display: flex;
    padding: 1em;
    flex-direction: column;
    h3 {
      font-size: 30px;
    }
    p {
      margin-top: 4px;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 769px) {
  .welcome {
    flex-direction: column;
    height: max-content;
    padding-top: 2em;
    .welcome-msg {
      margin-top: 4px;
      width: 100%;
      h3 {
        font-size: 25px;
      }
    }
  }
}
